.Profile{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.Profile input{
    width: 400px !important;
    height: 50px;
    margin: 10px;
}

.Profile .header{
    background-color: #134072;
    height: 200px;
    box-shadow: 0 0 10px grey;
    margin-bottom: 40px;
}

.Profile .header h1{
    color: white !important;
}