/*.Catalog  button{*/
/*    width: 200px;*/
/*    height: 50px;*/
/*    background-color: #134072;*/
/*    color: white !important;*/
/*    font-weight: 600;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*}*/

.Catalog .header{
    background-color: #134072;
    height: 200px;
    box-shadow: 0 0 10px grey;
    margin-bottom: 40px;
}

.Catalog .header h1{
    color: white !important;
}

.Catalog .info{
    background: #efe4da;
    border-radius: 0 0 5px 5px;
    width: 400px;
    height: 150px;
    justify-content: space-between;
    border-radius: 10px;
}

.Catalog ul{
    list-style-image: url("/public/images/angle-right-solid.svg");
}






