.home{
    width: 100%;
    color: #134072;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Home{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.gmap_canvas {
    overflow: hidden;
    background:none!important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.mapouter{
    padding: 0 !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    width: 50% !important;
    height: 100% !important;
}

.Home div{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    
}
.Home div button{
    width: 200px;
    height: 50px;
    background-color: #134072;
    color: white !important;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.Home div *:not(.Home div img){
    margin-top: 20px;
}

h1{
    font-size: 60px;
    font-weight: 500;
}
.Home div  p{
    font-weight: 500;
}
.Home img{
    width: 50%;
    margin: 10px;
}

.Home .third-div{
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.Home .third-div div{
    width: 80%;
    display: flex;
    align-items:center;
}
.Home .third-div div img{
    width: 500px;
    margin-right: 50px;
}
.Home .third-div aside{
    padding: 20px;
    width: 50%;
}

hr{
    border: .5px solid #134072;
    border-radius: 1px;
}

.Home .three-eyes{
    background-color: #EFE4DA;
}

@media screen and(max-width:1440px){
    .Home div{
    }
}