/* I didn't try to code with tailwind css ))) */

.gmap_canvas {
    overflow: hidden;
    background:none!important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.mapouter{
    padding: 0 !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    width: 50% !important;
    height: 100% !important;
}

/* ---------------------------------- */

.home button{
    width: 200px;
    height: 50px;
    background-color: #134072;
    color: white !important;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.home div *:not(.Home div img){
    margin-top: 20px;
}

.home div p{
    font-weight: 500;
}








.Home .three-eyes{
    background-color: #EFE4DA;
}

