.Main {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    color: #134072 !important;
}

.Main header {
    display: flex;
    width: 85%;
    padding: 20px;
    justify-content: space-between;
}



.Main header aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Main header *{
    gap: 20px;
}

.Main header aside ul{
    display: flex;
    flex-direction: row;
    color: #134072 !important;
    font-weight: 600;
    margin: 0;
    margin-right: 20px;
}

.Main button{
    border: none;
    color: #134072;
    background-color: transparent;
}

.Main select {
    border: none;
    font-weight: 600;
}
