@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&display=swap');

.third-bootstrap-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
}
.carousel h1{
    font-family: 'Rambla', sans-serif;
}



.carousel .carousel-indicators{
    display: none;
}

